<div>
    <h2 id="page-heading">
        <span jhiTranslate="cechiniApp.stats.home.title">Stats</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
    
    <canvas class="my-4 w-100" id="myChart" width="900" height="280"></canvas>
    <br>
    <canvas class="my-4 w-100" id="myChart02" width="900" height="280"></canvas>
    <br>
    <canvas class="my-4 w-100" id="myChart03" width="900" height="280"></canvas>

    <div class="alert alert-warning">
        Statystyki będą dostępne przez 30 dni. 
    </div>
</div>
