<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="cechiniApp.order.home.createOrEditLabel">Create or edit a Order</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cechiniApp.order.orderDate" for="field_orderDate">Order Date</label>
                    <div class="input-group">
                        <input id="field_orderDate" type="text" class="form-control" name="orderDate" ngbDatepicker #orderDateDp="ngbDatepicker" formControlName="orderDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="orderDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('orderDate')!.invalid && (editForm.get('orderDate')!.dirty || editForm.get('orderDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cechiniApp.order.worker" for="field_worker">Worker</label>
                    <select class="form-control" id="field_worker" name="worker" formControlName="workerId">
                        <option *ngIf="!editForm.get('workerId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="workerOption.id" *ngFor="let workerOption of workers; trackBy: trackById">{{ workerOption.surname }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('workerId')!.invalid && (editForm.get('workerId')!.dirty || editForm.get('workerId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('workerId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cechiniApp.order.store" for="field_store">Store</label>
                    <select class="form-control" id="field_store" name="store" formControlName="storeId">
                        <option *ngIf="!editForm.get('storeId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="storeOption.id" *ngFor="let storeOption of stores; trackBy: trackById">{{ storeOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('storeId')!.invalid && (editForm.get('storeId')!.dirty || editForm.get('storeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('storeId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cechiniApp.order.status" for="field_status">Status</label>
                    <select class="form-control" id="field_status" name="status" formControlName="statusId">
                        <option *ngIf="!editForm.get('statusId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="statusOption.id" *ngFor="let statusOption of statuses; trackBy: trackById">{{ statusOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('statusId')!.invalid && (editForm.get('statusId')!.dirty || editForm.get('statusId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('statusId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cechiniApp.order.warehouse" for="field_warehouse">Warehouse</label>
                    <select class="form-control" id="field_warehouse" name="warehouse" formControlName="warehouseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="warehouseOption.id" *ngFor="let warehouseOption of warehouses; trackBy: trackById">{{ warehouseOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
