<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="store">
            <h2><span jhiTranslate="cechiniApp.store.detail.title">Store</span> {{ store.name }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>
            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/store', store.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <br>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cechiniApp.store.name">Name</span></dt>
                <dd>
                    <span>{{ store.name }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.store.nip">Nip</span></dt>
                <dd>
                    <span>{{ store.nip }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.store.address">Address</span></dt>
                <dd>
                    <span>{{ store.address }}</span>
                </dd>
                <dt><span>PH</span></dt>
                <dd>
                    <div *ngIf="store.workerId">
                        <a [routerLink]="['/worker', store.workerId, 'view']">{{ store.workerSurname }}</a>
                    </div>
                </dd>
            </dl>
        </div>
        <div>
            <h2><span>Historia Raportów</span></h2>
            <p *ngIf="!reports">Ładuję historię ...</p>
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li *ngFor="let report of reports" [ngbNavItem]="report">
                    <a ngbNavLink>
                        {{ report.reportDate | date:'dd/MM/yyyy'}}
                    </a>
                    <ng-template ngbNavContent>
                        <div *ngIf="report">
                            <dl class="row-md jh-entity-details">
                                <dt><span jhiTranslate="cechiniApp.report.reportDate">Report Date</span></dt>
                                <dd>
                                    <span>{{ report.reportDate | date:'dd/MM/yyyy HH:mm:ss' }}</span>
                                </dd>
                                <dt><span jhiTranslate="cechiniApp.report.desc">Desc</span></dt>
                                <dd>
                                    <div *ngIf="report.desc">
                                        <span>{{ report.desc }}</span>
                                    </div>
                                    <div *ngIf="!report.desc">
                                        <span>brak</span>
                                    </div>
                                </dd>
                                <dt><span jhiTranslate="cechiniApp.report.managerNote">Manager Note</span></dt>
                                <dd>
                                    <div *ngIf="report.managerNote">
                                        <span>{{ report.managerNote }}</span>
                                    </div>
                                    <div *ngIf="!report.managerNote">
                                        <span>brak</span>
                                    </div>
                                </dd>
                                <dt><span jhiTranslate="cechiniApp.report.order">Order</span></dt>
                                <dd>
                                    <div *ngIf="report.orderId">
                                        <a [routerLink]="['/order', report.orderId, 'view']">zobacz</a>
                                    </div>
                                    <div *ngIf="!report.orderId">
                                        <span>brak</span>
                                    </div>
                                </dd>
                                <dt><span jhiTranslate="cechiniApp.report.worker">Worker</span></dt>
                                <dd>
                                    <div *ngIf="report.workerId">
                                        <a
                                            [routerLink]="['/worker', report.workerId, 'view']">{{ report.workerSurname }}</a>
                                    </div>
                                </dd>
                            </dl>

                            <dl class="row-md jh-entity-details">
                                <dt><span>Zdjęcia</span></dt>
                                <dd *ngFor="let photoFile of report.photos">
                                    <div *ngIf="photoFile.value">
                                        <img [src]="'data:' + photoFile.valueContentType + ';base64,' + photoFile.value"
                                            style="max-width: 100%;" alt="photoFile image" />
                                    </div>
                                </dd>
                            </dl>

                        </div>



                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>
