<div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Gratulacje, jesteś zalogowany. </h1>
            <p class="lead text-muted">Przedstawiciele handlowi niech pobiorą sobie aplikacje mobilną ze sklepu Play</p>
            <p class="lead text-muted">W pozycji 'Menu' Przedstawiciele Handlowi -> dodaj nowych i przekaż im dane do logowania</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Załóż konto</a>
            </p>
        </div>
    </section>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal" jhiTranslate="home.subtitle">This is your homepage</h1>
        <p class="lead font-weight-normal">Kontroluj sprzedaż swoich produktów na podstawie raportów dodawanych przez
            Przedstawicieli Handlowych z aplikacji mobilnej</p>
        <a class="btn btn-outline-secondary" routerLink="account/register" jhiTranslate="global.menu.account.register">Register</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<div style="margin-bottom: 80px;"></div>
<h1>Aplikacja webowa - dla managerów</h1>
<div style="margin-bottom: 80px;"></div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-white">Podgląd raportów i zamówień</h2>
            <p class="lead text-white">Zamówienia i raporty są dostępne bezpośrednio po ich stworzeniu przez
                Przedstawiciela</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Merchandising</h2>
            <p class="lead">Przeglądaj zdjęcia dołączone do raportów</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Komentuj</h2>
            <p class="lead">Powiadamiaj Przedstawiciela z aplikacji</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-white">Statystki</h2>
            <p class="lead">Który produkt najlepiej się sprzedaje?</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5 text-white">Integruj się z hurtowniami</h2>
            <p class="lead">Zamówienia z aplikacji mobilnej automatycznie wysyłają zamówienia do hurtowni</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Dodawaj produkty</h2>
            <p class="lead">Produkty i wszystko inne jest synchronizowane z Aplikacją mobilną</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Korzystaj za darmo</h1>
        <p class="lead text-muted">Przez 3 miesiące korzystaj całkowicie za darmo, zarówno Manager jak i Przedstawiciele
            Handlowi.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Załóż konto</a>
        </p>
    </div>
</section>
<!--<hr class="featurette-divider">-->
<h1>Aplikacja mobilna - dla Przedstawicieli Handlowych</h1>
<div style="margin-bottom: 80px;"></div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-white">Twórz również OFF-LINE</h2>
            <p class="lead text-white">Pomimo braku dostępu do internetu możesz tworzyć raporty i zamówienia</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Dodawaj raporty ze zdjęciami</h2>
            <p class="lead">...</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Sam dodawaj nowe miejsca</h2>
            <p class="lead">Dodawaj sklepy w prosty sposób</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-white">Dodawaj zamówienia produktów</h2>
            <p class="lead"></p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5 text-white">Przeglądaj swoje dodane raporty</h2>
            <p class="lead">...</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Odpowiadaj na komentarze Managera</h2>
            <p class="lead">...</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>

<div style="margin-bottom: 80px;"></div>
<h1>NASI KLIENCI</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="../../content/images/demo/cechini.jpg"
                 alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 10px;">
            <h2>CECHINI</h2>
            <p>Firma Cechini na codzień używa tej aplikacji do kontroli sprzedaży</p>
            <p><a class="btn btn-secondary" href="https://www.cechini-muszyna.pl/" role="button">GO &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>
<div style="margin-bottom: 80px;"></div>
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Potrzebujesz dedykowanych funkcji?<span
                class="text-muted">Żaden problem</span></h2>
            <p class="lead">Aplikacja jest otwarta na dedykowane zmiany, skontaktuj się z nami - porozmawiamy o szczegółach.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
                 alt="Generic placeholder image">
        </div>
    </div>
</div>


<!--<footer class="container py-5">-->
<!--    <div class="row">-->
<!--        <div class="col-12 col-md">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"-->
<!--                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"-->
<!--                 class="d-block mb-2">-->
<!--                <circle cx="12" cy="12" r="10"></circle>-->
<!--                <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>-->
<!--                <line x1="9.69" y1="8" x2="21.17" y2="8"></line>-->
<!--                <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>-->
<!--                <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>-->
<!--                <line x1="14.31" y1="16" x2="2.83" y2="16"></line>-->
<!--                <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>-->
<!--            </svg>-->
<!--            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>-->
<!--        </div>-->
<!--        <div class="col-6 col-md">-->
<!--            <h5>Features</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#">Cool stuff</a></li>-->
<!--                <li><a class="text-muted" href="#">Random feature</a></li>-->
<!--                <li><a class="text-muted" href="#">Team feature</a></li>-->
<!--                <li><a class="text-muted" href="#">Stuff for developers</a></li>-->
<!--                <li><a class="text-muted" href="#">Another one</a></li>-->
<!--                <li><a class="text-muted" href="#">Last time</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-6 col-md">-->
<!--            <h5>Resources</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#">Resource</a></li>-->
<!--                <li><a class="text-muted" href="#">Resource name</a></li>-->
<!--                <li><a class="text-muted" href="#">Another resource</a></li>-->
<!--                <li><a class="text-muted" href="#">Final resource</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-6 col-md">-->
<!--            <h5>Resources</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#">Business</a></li>-->
<!--                <li><a class="text-muted" href="#">Education</a></li>-->
<!--                <li><a class="text-muted" href="#">Government</a></li>-->
<!--                <li><a class="text-muted" href="#">Gaming</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="col-6 col-md">-->
<!--            <h5>About</h5>-->
<!--            <ul class="list-unstyled text-small">-->
<!--                <li><a class="text-muted" href="#">Team</a></li>-->
<!--                <li><a class="text-muted" href="#">Locations</a></li>-->
<!--                <li><a class="text-muted" href="#">Privacy</a></li>-->
<!--                <li><a class="text-muted" href="#">Terms</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
