<div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Gratulacje, jesteś zalogowany</h1>
            <h1 class="jumbotron-heading" jhiTranslate="home.shareApp01">Wyślij link do aplikacji przedstawicielowi</h1>
            <h2 class="jumbotron-heading" jhiTranslate="home.shareApp02">I przekaż mu login i hasło</h2>
            <p>
                <a href="https://play.google.com/store/apps/details?id=pl.jmpolska.clos0.mojabiedronka" target="_blank" class="btn btn-primary my-2" jhiTranslate="home.shareApp03">Link do aplikacji</a>
            </p>
            <h3 class="jumbotron-heading">Pod koniec okresu próbnego skontaktujemy się z Tobą!</h3>
        </div>
    </section>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal" jhiTranslate="home.subtitle">This is your homepage</h1>
        <p class="lead font-weight-normal" jhiTranslate="home.subtext">Kontroluj sprzedaż swoich produktów na podstawie raportów dodawanych przez
            Przedstawicieli Handlowych z aplikacji mobilnej</p>
        <a class="btn btn-outline-secondary" routerLink="account/register" jhiTranslate="global.menu.account.register">Register</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
<div style="margin-bottom: 80px;"></div>
<h1 jhiTranslate="home.webPart">Aplikacja webowa - dla managerów</h1>
<div style="margin-bottom: 80px;"></div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-white" jhiTranslate="home.webPart01">Podgląd raportów i zamówień</h2>
            <p class="lead text-white" jhiTranslate="home.webPart01sub">Zamówienia i raporty są dostępne bezpośrednio po ich stworzeniu przez
                Przedstawiciela</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5" jhiTranslate="home.webPart02">Merchandising</h2>
            <p class="lead" jhiTranslate="home.webPart02sub">Przeglądaj zdjęcia dołączone do raportów</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5" jhiTranslate="home.webPart03">Komentuj</h2>
            <p class="lead" jhiTranslate="home.webPart03sub">Powiadamiaj Przedstawiciela z aplikacji</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-white" jhiTranslate="home.webPart04">Statystki</h2>
            <p class="lead" jhiTranslate="home.webPart04sub">Który produkt najlepiej się sprzedaje?</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5 text-white" jhiTranslate="home.webPart05">Integruj się z hurtowniami</h2>
            <p class="lead" jhiTranslate="home.webPart05sub">Zamówienia z aplikacji mobilnej automatycznie wysyłają zamówienia do hurtowni</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5" jhiTranslate="home.webPart06">Dodawaj produkty</h2>
            <p class="lead" jhiTranslate="home.webPart06sub">Produkty i wszystko inne jest synchronizowane z Aplikacją mobilną</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" jhiTranslate="home.startFree01">Korzystaj za darmo</h1>
        <p class="lead text-muted" jhiTranslate="home.startFree02">Przez 3 miesiące korzystaj całkowicie za darmo, zarówno Manager jak i Przedstawiciele
            Handlowi.</p>
        <p>
            <a routerLink="account/register" jhiTranslate="global.menu.account.register" class="btn btn-primary my-2">Załóż konto</a>
        </p>
    </div>
</section>
<!--<hr class="featurette-divider">-->
<h1 jhiTranslate="home.mobilePart">Aplikacja mobilna - dla Przedstawicieli Handlowych</h1>
<div style="margin-bottom: 80px;"></div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-white" jhiTranslate="home.mobilePart01">Twórz również OFF-LINE</h2>
            <p class="lead text-white" jhiTranslate="home.mobilePart01sub">Pomimo braku dostępu do internetu możesz tworzyć raporty i zamówienia</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5" jhiTranslate="home.mobilePart02">Dodawaj raporty ze zdjęciami</h2>
            <p class="lead" jhiTranslate="home.mobilePart02sub">...</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5" jhiTranslate="home.mobilePart03">Sam dodawaj nowe miejsca</h2>
            <p class="lead" jhiTranslate="home.mobilePart03sub">Dodawaj sklepy w prosty sposób</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5 text-white" jhiTranslate="home.mobilePart04">Dodawaj zamówienia produktów</h2>
            <p class="lead" jhiTranslate="home.mobilePart04sub"></p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5 text-white" jhiTranslate="home.mobilePart05">Przeglądaj swoje dodane raporty</h2>
            <p class="lead" jhiTranslate="home.mobilePart05sub">...</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5" jhiTranslate="home.mobilePart06">Odpowiadaj na komentarze Managera</h2>
            <p class="lead" jhiTranslate="home.mobilePart06sub">...</p>
        </div>
        <div class="bg-light box-shadow mx-auto klocek">
            <img src="../../content/images/demo/img_2.png" class="klocek-photo">
        </div>
    </div>
</div>

<div style="margin-bottom: 80px;"></div>
<h1 jhiTranslate="home.ourClients01" class="text-center">NASI KLIENCI</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <img class="rounded-circle"
                 src="../../content/images/demo/cechini.jpg"
                 alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 10px;">
            <h2 jhiTranslate="home.cechini">CECHINI</h2>
            <p jhiTranslate="home.cechiniSub">Firma Cechini na codzień używa naszej aplikacji do kontroli sprzedaży</p>
            <p><a class="btn btn-secondary" href="https://www.cechini-muszyna.pl/" target="_blank" role="button">GO &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>
<div style="margin-bottom: 80px;"></div>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading" style="margin-bottom: 32px;">CENNIK</h1>

        <div class="card mb-4 box-shadow mx-auto d-block" style="width: 18rem; gravity: center;">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Standard</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">400 PLN <small class="text-muted">/ mc</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Płacisz za cały system</li>
                    <li>Pełny support</li>
                    <li>Brak dodatkowych opłat</li>
                    <li>3 miesiące całkowicie bezpłatnie</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="account/register" jhiTranslate="global.menu.account.register">Załóż konto</button>
            </div>
        </div>

    </div>
</section>
<div style="margin-bottom: 80px;"></div>
<div class="container marketing">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" jhiTranslate="home.needMore01">Potrzebujesz dedykowanych funkcji?<span
                class="text-muted" jhiTranslate="home.needMore02">Żaden problem</span></h2>
            <p class="lead" jhiTranslate="home.needMore03">Aplikacja jest otwarta na dedykowane zmiany, skontaktuj się z nami - porozmawiamy o szczegółach.</p>
        </div>
        <div class="col-md-5">
            <h4>Pytania dotyczące aplikacji kieruj na adres </h4><a href="mailto:orders@costrella.ovh">orders@costrella.ovh</a>
        </div>
    </div>
</div>
<div style="margin-bottom: 80px;"></div>
