<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="worker">
            <h2><span jhiTranslate="cechiniApp.worker.detail.title">Worker</span>: {{ worker.name }}
                {{ worker.surname }}</h2>
            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cechiniApp.worker.hiredDate">Hired Date</span></dt>
                <dd>
                    <span>{{ worker.hiredDate | date:'dd/MM/yyyy HH:mm' }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.worker.desc">Desc</span></dt>
                <dd>
                    <span>{{ worker.desc }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.worker.phone">Phone</span></dt>
                <dd>
                    <span>{{ worker.phone }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.worker.login">Login</span></dt>
                <dd>
                    <span>{{ worker.login }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.worker.password">Password</span></dt>
                <dd>
                <span>
                    <input type="password" [value]="worker.password" readonly class="form-control-plaintext" style="display:inline; width:auto;" #passInput>
                    <button type="button" class="btn btn-link p-0" tabindex="-1"
                            (mousedown)="passInput.type='text'" (mouseup)="passInput.type='password'" (mouseleave)="passInput.type='password'">
                        <fa-icon icon="eye"></fa-icon>
                    </button>
                </span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/worker', worker.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <div *ngIf="worker.id">
                <jhi-report [setWorkerId]="worker.id"></jhi-report>
            </div>
        </div>
    </div>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" jhiTranslate="home.shareApp01">Wyślij link do aplikacji przedstawicielowi</h1>
            <h2 class="jumbotron-heading" jhiTranslate="home.shareApp02">I przekaż mu login i hasło</h2>
            <p>
                <a href="https://play.google.com/store/apps/details?id=com.costrella.salescontrol" target="_blank" class="btn btn-primary my-2" jhiTranslate="home.shareApp03">Link do aplikacji</a>
            </p>
        </div>
    </section>
</div>
