<div class="row justify-content-center">
    <div class="col-12">
        <div *ngIf="worker">
            <h2><span jhiTranslate="cechiniApp.worker.detail.title">Worker</span>: {{ worker.name }}
                {{ worker.surname }}</h2>
            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cechiniApp.worker.hiredDate">Hired Date</span></dt>
                <dd>
                    <span>{{ worker.hiredDate | date:'dd/MM/yyyy HH:mm' }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.worker.desc">Desc</span></dt>
                <dd>
                    <span>{{ worker.desc }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.worker.phone">Phone</span></dt>
                <dd>
                    <span>{{ worker.phone }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.worker.login">Login</span></dt>
                <dd>
                    <span>{{ worker.login }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.worker.password">Password</span></dt>
                <dd>
                    <span>{{ worker.password }}</span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/worker', worker.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <div *ngIf="worker.id">
                <jhi-report [setWorkerId]="worker.id"></jhi-report>
            </div>
        </div>
    </div>
</div>