<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="manager">
            <h2><span jhiTranslate="cechiniApp.manager.detail.title">Manager</span> {{ manager.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cechiniApp.manager.name">Name</span></dt>
                <dd>
                    <span>{{ manager.name }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.manager.surname">Surname</span></dt>
                <dd>
                    <span>{{ manager.surname }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.manager.hiredDate">Hired Date</span></dt>
                <dd>
                    <span>{{ manager.hiredDate }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.manager.worker">Worker</span></dt>
                <dd>
                    <span *ngFor="let worker of manager.workers; let last = last">
                        <a [routerLink]="['/worker', worker?.id, 'view']">{{ worker.surname }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/manager', manager.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
