<div>
    <h2 id="page-heading">
        <span jhiTranslate="cechiniApp.orderItem.home.title">Order Items</span>

        <!-- <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-item" [routerLink]="['/order-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="cechiniApp.orderItem.home.createLabel">
            Create a new Order Item
            </span>
        </button> -->
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orderItems?.length === 0">
        <span jhiTranslate="cechiniApp.orderItem.home.notFound">No orderItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orderItems && orderItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <!-- <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th> -->
                    <!-- <th scope="col" jhiSortBy="name"><span jhiTranslate="cechiniApp.orderItem.name">Name</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th> -->
                    <!-- <th scope="col" jhiSortBy="atr1"><span jhiTranslate="cechiniApp.orderItem.atr1">Atr 1</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="atr2"><span jhiTranslate="cechiniApp.orderItem.atr2">Atr 2</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th> -->
                    <th scope="col" jhiSortBy="productName"><span
                            jhiTranslate="cechiniApp.orderItem.product">Product</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th>
                    <th scope="col" jhiSortBy="quantity"><span
                        jhiTranslate="cechiniApp.orderItem.quantity">Quantity</span>
                    <fa-icon icon="sort"></fa-icon>
                </th>
                    <!-- <th scope="col" jhiSortBy="orderId"><span jhiTranslate="cechiniApp.orderItem.order">Order</span>
                        <fa-icon icon="sort"></fa-icon>
                    </th> -->
                    <!-- <th scope="col"></th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderItem of orderItems ;trackBy: trackId">
                    <!-- <td><a (click)="clickItem(orderItem.id)">{{ orderItem.id }}</a></td> -->
                    <!-- <td>{{ orderItem.id }}</td> -->
                    <!-- <td>{{ orderItem.name }}</td> -->
                    <!-- <td>{{ orderItem.atr1 }}</td>
                    <td>{{ orderItem.atr2 }}</td> -->
                    <td>
                        <div *ngIf="orderItem.productId">
                            <a  (click)="clickItem(['/product/', orderItem.productId , '/view'])">
                                {{ orderItem.productName }}
                            </a>
                            
                        </div>
                    </td>
                    <td>{{ orderItem.quantity }}</td>
                    <!-- <td>
                        <div *ngIf="orderItem.orderId">
                            {{ orderItem.orderId }}
                        </div>
                    </td> -->
                    <!-- <td class="text-right">
                        <div class="btn-group">

                            <button type="submit" (click)="editItem(orderItem.id)" class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orderItem)" class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="orderItems && orderItems.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
