<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="route">
            <h2><span jhiTranslate="cechiniApp.route.detail.title">Route</span> {{ route.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cechiniApp.route.name">Name</span></dt>
                <dd>
                    <span>{{ route.name }}</span>
                </dd>
                <dt><span jhiTranslate="cechiniApp.route.worker">Worker</span></dt>
                <dd>
                    <div *ngIf="route.workerId">
                        <a [routerLink]="['/worker', route.workerId, 'view']">{{ route.workerSurname }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="cechiniApp.route.location">Location</span></dt>
                <dd>
                    <div *ngIf="route.locationId">
                        <a [routerLink]="['/location', route.locationId, 'view']">{{ route.locationId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/route', route.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
